<div id='no-rankings-required' class='narrow'>
  Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
  <h2>Step 6: Rank the dimensions</h2>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        At this point, if you were considering more than one dimension, you
        would be asked to rank those dimensions in terms of how important they
        are to you. But, since you've listed one dimension, there's no need for
        ranking them.
      </p>
      <p>
        If you decide to go back and add more dimensions, you'll be asked to
        rank them here. Otherwise, feel free to move on!
      </p>
    </div>
  </div>
    <%= link_to fa('arrow-left', 'fa-left') + " Step 5: Rate your options",
      rate_decision_problem_options_path(@decision_problem), class: 'btn btn-info pull-left' %>
    <%= link_to "Step 7: Weight the dimensions ".html_safe + fa('arrow-right', 'fa-right'),
      weight_decision_problem_dimensions_path(@decision_problem), class: 'btn btn-info pull-right' %>
</div>
