<p id="notice"><%= notice %></p>

<p>
  <b>Decisionproblems:</b>
  <%= @controller.DecisionProblems %>
</p>


<%= link_to 'Edit', edit_controller_path(@controller) %> |
<%= link_to 'Back', controllers_path %>
