<div id='view-scores'>
  Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
  <h2>Step 8: View recommendations</h2>
  <div class='scores-container'></div>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        Commentary goes here
      </p>
    </div>
  </div>
  <%= link_to fa('arrow-left', 'fa-left') + " Step 7: Weight the dimensions",
      weight_decision_problem_dimensions_path(@decision_problem), class: 'btn btn-info pull-left' %>
  <script>
    Maut.optionScores = <%= @decision_problem.option_scores_json.html_safe %>;
  </script>
</div>
