<div id='view-scores'>
  Your decision: <span class='your-decision'><%= @decision_problem.description %></span>
  <h2>Step 8: View recommendations</h2>
  <div class='scores-container'>
  </div>
  <table>
    <tr>
      <% @decision_problem.options.sort_by(&:score).each do |option| %>
        <td><%= option.description %></td>
      <% end %>
    </tr>
  </table>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        The graph above shows the relative total scores for each of your
        options. An option with a taller bar aligns better with the preferences
        you expressed in earlier steps. So, the option with the tallest bar is
        Decide-O-Tron 9000's recommendation for you!
      </p>
      <p>
        Not happy with these results? Pay attention to your feelings about these
        recommendations - they might give you more insight into how you truly
        feel about these options, their relative ratings on the dimensions you
        chose, or the relative importance of the dimensions.
      </p>
      <p>
        You can go back through earlier steps and revise your previous rankings
        and ratings, or add additional options and dimensions to consider.
      </p>
    </div>
  </div>
  <%= link_to fa('arrow-left', 'fa-left') + " Step 7: Weight the dimensions",
      weight_decision_problem_dimensions_path(@decision_problem), class: 'btn btn-info pull-left' %>
  <script>
    Maut.optionScores = <%= @decision_problem.option_scores_json.html_safe %>;
  </script>
</div>
