<div id='home'>
  <div class='instructions narrow panel panel-default'>
    <div class='panel-body'>
      <p>
        Decide-O-Tron 9000 is a tool for helping you make decisions.
      </p>
      <p>
        In particular, it's meant to help you <strong>choose between
        alternatives</strong> that vary on different attributes or
        dimensions. It's not well suited to help you with decisions where
        outcomes are probabilistic.
      </p>
      <p>
        Decide-O-Tron 9000 will guide you through 7 steps that gather information
        from you about the decision you're trying to make.  Then, it will
        make a recommendation about which option to choose. If this sounds
        helpful to you, then....
      </p>
    </div>
  </div>
  <%= link_to "Let's get started!", new_decision_problem_path, class: 'btn btn-info' %>
</div>
