.do-ranking {
  .instructions {
    margin-bottom: 50px;
  }
  h3 {
    margin: 20px 10px 10px;
  }
  .sortable {
    display: inline-block;
    margin-bottom: 20px;
    .placeholder {
      height: 39px;
      margin: 10px;
    }
    .ranker {
      margin: 10px auto;
      border-radius: 4px;
      width: 300px;
      background-color: #FF6E6E;
      padding: 8px 16px;
    }
  }
}
