.do-rating {
  .instructions {
    margin-bottom: 50px;
  }
  .rating-container {
    table.labels {
      display: inline-block;
      text-align: right;
      width: 200px;
      margin-right: 15px;
      font-size: 16px;
      padding-bottom: 5px;
      tr {
        min-height: 58.5px;
        max-height: 58.5px;
        height: 58.5px;
        td {
          padding: 0;
        }
      }
    }
    svg {
      display: inline-block;
      .pull {
        fill: #5bc0de;
        cursor: ew-resize;
      }
    }
  }
}
