<!DOCTYPE html>
<html>
<head>
  <title>Maut</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='content'>
      <h1 id='site-title'>Decide-O-Tron 9000™</h1>
      <%= yield %>
    </div>
  </div>
</body>
</html>
